@model List<Universidade.Models.AprovacaoAlunoModel>

<div class="text-center">
    <h1 class="display-4">Alunos neste curso</h1>
</div>
<form>

    <table class="table" id="tabela">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Nota</th>
                <th scope="col">Aprovados</th>
                <th scope="col">Curso</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nome_aluno</td>
                    <td>@item.cpf</td>
                    <td>@item.nota</td>

                    @if (@item.nota >= 60)
                    {
                        <td>Sim</td>

                    }
                    else
                    {
                        <td>Nao</td>
                    }

                    <td>@item.nome_curso</td>
                    <td>@item.nome_disciplina</td>
                </tr>
            }
        </tbody>
    </table>
</form>